* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
  width: 100%;
  // height: 100vh;
  font-size: 16px;
  line-height: 1.2;
  min-width: 320px;
  font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  color: $white;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
	padding: 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; 
}

.clearfix:after {
    clear: both;
}
.wrapper {
    flex: 1 0 auto;
    // min-height: calc(100vh - 70%);
}

.container {
	width: 1170px;
	margin: 0 auto;
}
.footer-wrap {
	flex-shrink: 0;
	// grid-row-start: 2;
  	// grid-row-end: 3;
  	// min-height: 30%;
}
input {
	border: none;
	outline: none;
}
button {
	outline: none;
	border: none;
	background: transparent;
	outline: 0;
	outline-offset: 0;
	text-decoration: none;
}
button:active, button:hover, button:focus {
	outline: 0;
	outline-offset: 0;
	text-decoration: none;
}
.catalog-ico {
    // width: 10px;
    // height: 10px;
    fill: $white;
}
.catalog-ico-show {
	transform: rotate(180deg);
}
svg {
	vertical-align: middle;
  transition: 200ms;
  transition-timing-function: ease-in-out;
}

a {
	text-decoration: none;
	outline: none;
	outline-offset: 0;
  }
a:active, a:hover, a:focus,
button:active, button:hover, button:focus,
select:active, select:hover, select:focus {
	outline: 0;
	outline-offset: 0;
	text-decoration: none;
}
/* Remove outline on the forms and links */
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

/*resp-tabs*/

ul.resp-tabs-list {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  display: inline-block;
  cursor: pointer;
  float: left;
}

.resp-tabs-container {
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  display: none;
}

.resp-tab-content {
  display: none;
}

.resp-tab-active {

}

.resp-content-active, .resp-accordion-active {
  display: block;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  float: left;
  clear: none;
}

.resp-vtabs li.resp-tab-active {
  position: relative;
  z-index: 1;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
.resp-easy-accordion  h2.resp-accordion {
      display: block;
}
.resp-jfit {
  width: 100%;
  margin: 0px;
}
.resp-tab-content-active {
  display: block;
}

@media only screen and (max-width: 768px) {
	ul.resp-tabs-list {
			display: none;
	}
	h2.resp-accordion {
			display: block;
	}
	.resp-vtabs .resp-tabs-container {
			border: none;
			float: none;
			width: 100%;
			min-height: initial;
			clear: none;
	}
	.resp-accordion-closed {
			display:none !important;
	}
}
/*end resp-tabs*/
