.page-about-info p {
  margin-bottom: 24px;
}
.page-about-advantages {
  margin-top: 40px;
}
.page-about-items {
  margin-bottom: 40px;
}
.page-about-icon {
  display: inline-block;
  width: 50px;
}
// .page-about-icon img {
//   width: 100%;
// }
.page-about-txt {
  display: inline-block;
  padding: 20px 18px;
}