@media screen and (max-width: 1200px) {
  .page-user-cab-main-planshet {
    display: block;
  }
  .page-user-cab-main-desctop {
    display: none;
  }
  .page-user-cab-self {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 320px) {

}