@media screen and (max-width: 1199px) {
  .page-user-cab-main-planshet {
    display: block;
  }
  .page-user-cab-main-desctop {
    display: none;
  }
  .page-user-cab-self {
    width: 100%;
  }
  .page-user-cab .author-txt {
    width: 58%;
  }
  .page-user-cab-self {
    padding: 40px 115px;
  }
  /*izb*/
  .page-user-cab-self-izb {
    padding: 35px;
  }
  .page-user-cab .page-card-series-item-wrap {
    width: 50%;
  }
  .page-user-cab .page-order-btn-wrap {
    text-align: center;
    margin-bottom: 30px;
  }
  .page-user-cab .page-order-btn-wrap .page-user-btn {
    width: 238px;
  }
  /*ist*/
  .page-user-cab .page-user-cab-ist-order-title {
    position: relative;
  }
  .page-user-cab .page-user-order-title-del {
    float: none;
    position: absolute;
    top: 6px;
    right: 10px;
  }
  .page-user-cab .page-user-order-title-numb,
  .page-user-cab .page-user-order-title-date {
    float: none;
  }
}
@media screen and (max-width: 767px) {
  .page-user-cab .main-nav-box-pic-wrapp {
    height: 200px;
  }
  .page-user-cab .author-txt {
    bottom: 13px;
  }
  .page-user-cab .author-txt-name{
    position: absolute;
    top: -119%;
    left: 75%;
  }
  .page-user-cab .main-nav-box {
    float: none;
    width: 100%;
    padding: 0 15px 14px;
  }
  .page-user-cab .main {
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .page-user-cab-self {
    padding: 20px 40px;
  }
  .page-user-cab .page-card-series-item-wrap {
    width: 67%;
  }
  /*izb*/
  .page-user-izb-price {
    width: 100%;
    text-align: left;
    padding-left: 74px;
  }
  .page-user-cab-self-izb>p {
    width: 71%;
  }
  /*ist*/
  .page-user-cab .page-user-cab-ist-order-title {
    font-size: 12px;
  }
  .izb-img-wrap {
    display: none;
  }
  .page-user-izb-price {
    font-size: 16px;
    padding-left: 0;
    text-align: right;
    width: 26%;
  }
  .page-user-cab-izb-item {
    padding: 18px 25px;
  }
  .page-user-cab-self {
    padding: 20px 15px;
  }
  .page-user-cab .page-user-cab-ist-order-status {
    padding: 15px 25px; 
  }
  .page-user-cab .page-user-cab-order-total {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {

}