@media screen and (max-width: 1199px) {
  .footer-sticky-menu {
    margin-right: -15px;
    margin-left: -15px;
  }
  .sticky-menu {
    width: 100%;
  }
  .footer-list-wrapp {
    width: 100%;
    margin-bottom: 18px;
  }
  .footer-logo {
    float: left;
    width: 67%;
  }
  .footer-menu-phone {
    float: right;
  }
  .footer-social {
    float: left;
  }

}

@media screen and (max-width: 767px) {
  .footer-sticky-menu {
    margin-right: 0;
    margin-left: 0;
  }
  .sticky-menu {
    padding-left: 15px;
    padding-right: 15px;
  }
  .sticky-menu-phone {
    text-align: center;
  }
  .sticky-menu-box-btn button {
    padding: 3px 6px;
    font-size: 14px;
    min-width: 140px;
  }
  .accordeon-contentm {
    display: none;
  }
  .footer {
    padding: 20px 40px;
  }
  .footer-logo {
    display: none;
  }
  .footer-menu-phone {
    display: none;
  }
  .footer-social {
    float: none;
  }
  .footer-item-soc {
    text-align: center;
  }
  .order__list {
    display: none;
  }
  .box-konf {
    float: none;
    width: 100%;
    padding: 9px 12px;
  }

}

@media screen and (max-width: 320px) {
  
}
