@media screen and (max-width: 1199px) {
  .footer-sticky-menu {
    margin-right: -15px;
    margin-left: -15px;
  }
  .sticky-menu {
    width: 100%;
  }
  .footer-list-wrapp {
    width: 100%;
    margin-bottom: 18px;
  }
  .footer-logo {
    float: left;
    width: 67%;
  }
  .footer-menu-phone {
    float: right;
  }
  .footer-social {
    float: left;
  }

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 320px) {
  
}
