@media screen and (max-width: 1199px) {
  .page-cart-controls {
    width: 29%;
  }
  .page-card-item-main {
    width: 100%;
  }
  .page-card-main-title {
    width: 70%;
    display: inline-block;
  }
  .page-card-main-btn {
    float: right;
  }
    /*videoslider*/  
  .page-card-main-slider {
    width: 69%;
    display: inline-block;
  }
  .page-card-main-videoslider {
    width: 12%;
    display: inline-block;
    float: right;
    margin-right: 11%;
  }

    .page-card-main-videoslider .slider-company_arrow-left {
      left: 50%;
      transform: translate(-50%, 0) rotate(-90deg);
      bottom: -40px;
      top: auto;
    }
    .page-card-main-videoslider .slider-company_arrow-right {
      left: 50%;
      transform: translate(-50%, 0) rotate(-90deg);
      top: -40px;
    }
    /**/
    .page-card-items-descr-txt-wrap {
      display: inline-block;
      width: 51%;
    }
    .page-card-items-conditions {
      display: inline-block;
    }
    .page-card-item-descr {
      width: 65%;
      font-size: 12px;
    }
    .page-card-controls {
      float: left;
      width: 30%;
    }
    /*resp-acc*/
    .card-prod-box {
      padding: 0;
    }
    .card-prod-tabs h2.resp-accordion {
      font-size: 14px;
      padding: 12px 40px;
      margin: 0;
      border-bottom: 1px solid #e8e8e8;
    }
    .card-prod-box-wrapp {
      padding: 28px;
      width: 100%;
    }

    .card-prod-box-wrapp2 {
      padding: 28px;
      width: 100%;
    }
    .page-card-prod .card-prod-box-wrapp2-checkbox {
      float: left;
      margin-left: -27px;
      margin-top: 13px;
    }
    .card-prod-box-wrapp2 .page-user-cab-izb-item {
      padding-left: 30px;
    }
    .card-prod-box-wrapp2 .page-user-izb-price {
      width: 40%;
    }
    .card-prod-box-wrapp2-img-wrap {
      display: none;
    }
    .page-card-prod .page-card-prod-series-item-wrap {
      width: 54%;
    }
    .card-prod-box-left {
      width: 18%;
    }
    .card-prod-box-main {
      width: 82%;
    }
    .even-row-desctop {
      background-color: $white;
    }
    .page-card-series {
      margin-right: 0;
      margin-top: 0;
    }
    .page-card-watch {
      margin-top: 0;
    }

/*series*/
    .page-card-series-item-img {
      max-height: 146px;
      overflow: hidden;
    }
    .page-card-series-item {
      padding: 36px 19px 40px;
    }
    .page-card-series-item-wrap {
      padding-right: 0;
    }
    .page-card-series-item-img {
      width: 133px;
      margin: 0 auto;
    }
    .page-card-watch-item-wrap {
      padding-right: 0;
    }
    .page-card-watch-item {
      padding: 36px 19px 40px;
    }
    .accordeon-titlem {
      position: relative;
    }
    .footer .accordeon-titlem:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%) ;
      content: '+';
      font-size: 30px;
      color: $white;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
    
    .footer .accordeon-titlem.is-opened:after {
      content: '-';
    }
    .page-card-items-conditions.visible-mobile {
      display: none;
    }

}
@media screen and (max-width: 767px) {
  .page-card-item {
    background-color: transparent;
  }
  .page-card-main-videoslider {
    display: none;
  }
  .page-card-item-main {
    background-color: $white;
  }
  .page-card-main-slider {
    margin: 0;
  }
  .page-card-item {
    padding: 0;
    margin-top: 0;
  }
  .page-card-main-btn>span {
    display: none;
  }
  .page-card-main-title {
    width: 100%;
  }
  .page-card-main-title-name {
    font-size: 16px;
  }
  .page-card-main-title-kod {
    font-size: 14px;
  }
  .page-card-item-main {
    margin-right: 0;
  }
  .page-card-main-title {
    padding: 9px 16px;
    background-color: $bg-color;
  }
  .page-card-main-btn {
    padding: 5px;
  }
  .page-card-main-slider {
    width: 100%;
    border: none;
  }
  .page-card-controls-discount {
    top: -365px;
    left: 26px;
  }
  .page-card-controls-discount>span {
    display: none;
  }
  .page-card-controls {
    width: 100%;
  }
  .page-card-item-descr {
    width: 100%;
    margin-left: 0;
  }
  .page-card-controls-price-txt-old {
    display: none;
  }
  .page-card-controls-price-txt {
    display: none;
  }
  .page-card-controls-price-figure-old {
    display: inline-block;
    width: 43%;
  }
  .page-card-controls-price-figure {
    display: inline-block;
    width: 53%;
  }
  .page-card-controls-price {
    margin-bottom: 0;
    box-shadow: none;
    padding: 0;
  }
  .page-card-item-descr-stars.visible-mobile {
    margin-top: 0;
  }
  .page-card-controls {
    background-color: $white;
    padding: 0 40px;
    -webkit-box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
    box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
    border-radius: 3px;
    margin-bottom: 16px;
  }
  .page-card-items-descr-txt-wrap {
    width: 100%;
    padding: 16px 40px;
    background-color: $white;
    margin-bottom: 16px;
  }
  .page-card-items-conditions.disable-mobile {
    display: none;
  }
  .page-card-items-conditions.visible-mobile {
    display: block;
    background-color: $white;
    margin-bottom: 16px;
    padding: 16px 40px;
  }
}
@media screen and (max-width: 320px) {

}

