.typical-btn {
  color: $white;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
}



.typical-btn:hover {
  opacity: 0.7; 
}
.page-card-item {
  position: relative;
  background-color: $white;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 8px 40px 40px;

}
.page-card-item-main-breadcrumbs {
  color: $lilac-color;
  font-size: 12px;
  padding-left: 26px;
  margin-bottom: 28px;
}
.page-card-item-main-breadcrumbs a {
  color: $lilac-color;
}
.page-card-item-main {
  width: 48%;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
  color: $gray;
}
.page-card-main-title-wrap {
  float: left;
}
.page-card-main-title-name {
  font-size: 20px;
}
.page-card-main-title-kod {
  font-size: 12px;
}
.page-card-main-btn {
float: left;
margin-left: 40px;
padding: 10px;
color: $white;
background-color: $red;
}
.page-card-main-btn-img {
  width: 20px;
  display: inline-block;
}
.page-card-main-btn-img img {
  width: 100%;
}
/*main-slider*/
.page-card-main-slider {
  // border-radius: 3px;
  border: 1px solid $bg-color;
  margin-top: 16px;
  margin-bottom: 30px;
}
.page-card-main-slider .slider-company-arrows {
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid $bg-color;
  color: $bg-color;
  cursor: pointer;
  outline: none;
  transform: translate(0, -50%);
}
.page-card-main-slider .slider-company_arrow-left::before {
  padding: 11px;
}
.page-card-main-slider .slider-company_arrow-right::before {
  padding: 14px;
}
.page-card-main-slider .slider-company-arrows:hover {
  border-color: $gray-name;
  color: $gray-name;
}
.page-card-main-slider .slider-company_arrow-left {
  left: 39px;
  z-index: 1;
}
.page-card-main-slider .slider-company_arrow-right {
  right: 39px;
  z-index: 1;
}

.page-card-main-slider-item img {
  max-width: 100%;
  margin: 16px auto;
}
/*main-videoslide*/
.page-card-main-videoslider {
  margin: 20px 50px 0;
}
.page-card-main-videoslider-item-wrap {
  position: relative;
  cursor: pointer;
}
.page-card-main-videoslider-item  {
  width: 100px;
  height: 65px;
  cursor: pointer;
}
.page-card-main-videoslider-item img {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;  
}
.page-card-main-videoslider-item-wrap:hover .overlay-video {
  display: block;
}
.overlay-video {
  display: none;
  position: absolute;
  width: 100px;
  height: 100%;
  background: $overlay-black;
}
.overlay-video-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
.page-card-item-main .slick-next {
  right: 25px
}
.page-card-item-main .slick-prev {
  left: 25px
}
.page-card-main-videoslider .slider-company-arrows {
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid $bg-color;
  color: $bg-color;
  cursor: pointer;
  outline: none;
  transform: translate(0, -50%);
}
.page-card-main-videoslider .slider-company_arrow-left::before {
  padding: 11px;
}
.page-card-main-videoslider .slider-company_arrow-right::before {
  padding: 14px;
}
.page-card-main-videoslider .slider-company-arrows:hover {
  border-color: $gray-name;
  color: $gray-name;
}
.page-card-main-videoslider .slider-company_arrow-left {
  left: -39px;
  z-index: 1;
}
.page-card-main-videoslider .slider-company_arrow-right {
  right: -39px;
  z-index: 1;
}









.page-card-item-descr {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.page-card-items-descr-txt {
  line-height: 1.8;
}
.page-card-item-descr-txt span {
  margin-right: 10px;
}
.page-card-item-descr-stars {
  margin-top: 23px;
  margin-bottom: 23px;
}
.page-card-item-stars {
  display: inline-block;
  cursor: pointer;
}
.page-card-items-conditions {
  margin-bottom: 32px;
}
.page-card-item-conditions-img {
  display: inline-block;
  width: 32px;
  margin-right: 10px;
}
.page-card-item-conditions-img img {
  width: 100%;
}
.page-card-item-conditions-txt {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}
.page-card-item-descr-more {
  padding: 10px;
  color: $white;
  background-color: $button;
}
.page-card-item-descr-more:hover {
  opacity: 0.7;
}

.page-card-item-descr-more-har {
  margin-right: 18px;
}






.page-card-controls {
  position: relative;
  width: 18%;
  display: inline-block;
  vertical-align: top;
}
.page-card-controls-discount {
  position: absolute;
  top: -66px;
  left: 50%;
  transform: translate(-50%);
  background-color: $red;
  color: $white;
  padding: 10px 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);

}
.page-card-controls-discount-img {
  width: 15px;
  display: inline-block;
  vertical-align: text-bottom;
}
.page-card-controls-discount-img img {
  width: 100%;
}
.page-card-controls-price {
  margin-bottom: 18px;
  padding: 18px 33px;
}
.page-card-controls-price-txt-old {
  font-size: 10px;
}
.page-card-controls-price-figure-old {
  font-size: 22px;
  text-decoration: line-through;
}
.page-card-controls-price-figure {
  font-size: 32px;
  color: $lilac;
}
.page-card-controls-tobasket {
  background-color: $red;
  text-transform: uppercase;
}
// .page-card-controls-tobasket:hover {
//   background-color: $red-hover;
// }
.basket-img {
  width: 21px;
  display: inline-block;
  margin-left: auto;
  vertical-align: middle;
  padding-bottom: 4px;
}
.basket-img .fa-shopping-cart {
  width: 21px;
  height: 19px;
  margin-bottom: -5px;
}
.page-card-controls-tobuy {
  background-color: $gray;
  text-transform: uppercase;
}

.page-card-controls-add {
  margin-top: 20px;
  color: $gray-date;

}
.page-card-controls-add button {
  padding: 0;
}
.page-card-controls-add li {
  margin-bottom: 15px;
}
.page-card-controls-add-img {
  width: 25px;
  display: inline-block;
  margin-right: 13px;
}
.page-card-controls-add-img img {
  width: 100%;
}
.page-card-controls-print {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: $color-footer;
  font-size: 13px;
  cursor: pointer;
}
.page-card-controls-print span {
  border-bottom: 1px dashed $color-footer;
}

/*tabs*/
.card-prod-tab-item:first-child {
  padding-left: 38px;
}
.card-prod-tab-item {
  display: inline-block;
  padding: 13px 28px;
  color: $white;
  background-color: $gray;
  cursor: pointer;
  margin-right: 4px;
}
.card-prod-tab-item:hover {
  opacity: 0.7;
}

.card-prod-tab-item.resp-tab-active {
  background-color: $white;
  color: $red;
}
.card-prod-tab-item.resp-tab-active span {
  border-bottom: 1px dashed $red;
}
.card-prod-box {
  margin-bottom: 18px;
  padding: 30px 38px 40px;
  background-color: $white;
}
.card-prod-box-wrapp {
  width: 803px;
  padding-bottom: 23px;
}
.card-prod-har {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 25px;
  // border-left: 1px solid $border;
  // border-right: 1px solid $border;
}
.card-prod-har td {
  padding: 12px 16px;
}
.card-prod-har td:first-child {
  border-right: 1px solid $border;
}
.card-prod-har th {
  color: $white;
  background-color: $red;
  padding: 12px 16px;
  border-left: 1px solid $red;
  border-right: 1px solid $red;
}
.card-prod-har-all {
  color: $white;
  background-color: $button;
  border-left: 1px solid $button;
  border-right: 1px solid $button; 
  text-align: center;
  cursor: pointer;
}
.card-prod-har-all:hover {
  opacity: 0.7;
}
.card-prod-har-all td:first-child {
  border-right: 1px solid $button;
}
.card-prod-har-all button {
  border-bottom: 1px dashed $white;
}
.even-row {
  background-color: $border;
}
/*2*/
.card-prod-box-left {
  width: 12%;
  float: left;
}

.card-prod-box-left {
  max-height: 305px;
  overflow-y: scroll;
  margin-top: 10px;
  margin-bottom: 17px;
}
.card-prod-box-main {

}
.card-prod-box-left-item {
  cursor: pointer;
}
.card-prod-box-left-item.active span {
  color: $red;
  border-bottom: 1px dashed $red;
}
.card-prod-box-main {
  padding: 12px 30px 16px 25px;
  width: 87%;
  float: right;
  border: 1px solid #e8e8e8;
}
.card-prod-box-wrapp2-img-wrap {
  border: 1px solid #e8e8e8;
  width: 121px;
  height: 121px;
  margin: 15px 18px;
  display: inline-block;
  vertical-align: middle;
}
.card-prod-box-wrapp2-img-wrap img {
  width: 100%;
  height: 100%;
}
.card-prod-box-main-wrapp {
  max-height: 335px;
  overflow-y: scroll;
}
.page-card-prod .page-card-prod-series-item-wrap {
  width: 22%;
}
.page-card-prod .card-prod-box-wrapp2-checkbox {
  display: inline-block;
  width: 2%;
  margin-left: 21%;
}
.card-prod-box-wrapp2 .page-user-izb-price {
  font-size: 22px;
  font-weight: bold;
}

/*tab 3*/
#table {
  display: table;
   
   width: 100%; 
   background: #fff;
   margin: 0;
   box-sizing: border-box;

 }

 .caption {
   display: block;
   width: 100%;
   background: #64e0ef;
   height: 55px;
   padding-left: 10px;
   color: #fff;
   font-size: 20px;
   line-height: 55px;
   text-shadow: 1px 1px 1px rgba(0,0,0,.3);
   box-sizing: border-box;
 }


 .header-row {
   background: $red;
   color: $white;
 }
.card-prod-row {
  display: table-row;
}
.cell {
  display: table-cell;
  vertical-align: middle;
  padding: 6px; 
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
 .primary {
   max-width: 188px;
 }
 .card-prod-tab-save {
  max-width: 96px;;
 }
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
.cp-right-open {
  color: $lilac;
  border-bottom: 1px dashed $lilac;
  text-align: left;
  margin: -5%;
}

@media only screen and (max-width: 1199px)  {
  .primary {
    max-width: none;
    text-align: left;
   }
   .card-prod-tab-save {
    max-width: none;
   }

  #table {
    display: block;
    margin: 44px 0 0 0;
  }

  .caption {
    position: fixed;
    top: 0;
    text-align: center;
    height: 44px;
    line-height: 44px;
    z-index: 5;
    border-bottom: 2px solid #999;
  }

  .card-prod-row { 
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc; 

  }

  .header-row {
    display: none;
  }
  
  .cell { 
    display: block;
    padding: 15px 22px;
    border: none;
    position: relative;
    height: 50px;
    // line-height: 45px;
    text-align: left;
  }

  .primary:after {
    content: "";
    display: block;
    position: absolute;
    right:20px;
    top:18px;
    z-index: 2;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #ccc;

  }

  .cell:nth-of-type(n+2) { 
    display: none; 
  }


  input[type="radio"],
  input[type="checkbox"] {
    display: block;
    position: absolute;
    z-index: 1;
    width: 99%;
    height: 100%;
    opacity: 0;
  }
  
  input[type="radio"]:checked,
  input[type="checkbox"]:checked {
    z-index: -1;
  }

  input[type="radio"]:checked ~ .cell,
  input[type="checkbox"]:checked ~ .cell {
    display: block;

    border-bottom: 1px solid #eee; 
  }

  input[type="radio"]:checked ~ .cell:nth-of-type(n+2),
  input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2) {
    // background: #e0e0e0;
  }

  input[type="radio"]:checked ~ .cell:nth-of-type(n+2):before,
  input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2):before {
    content: attr(data-label);

    display: inline-block;
    width: 50%;
    border-radius: 10px;
    // height: 20px;
    margin-right: 10px;
    font-size: 14px;
    text-align: left;

  }
.cp-right {
  text-align: right;
  display: inline-block;
  width: 48%;
}
  input[type="radio"]:checked ~ .primary,
  input[type="checkbox"]:checked ~ .primary  {
    border-bottom: 2px solid #999;
  }

  input[type="radio"]:checked ~ .primary:after,
  input[type="checkbox"]:checked ~ .primary:after {
     position: absolute;
    right:18px;
    top:22px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; 
    border-top:10px solid #ccc;
    z-index: 2;
  }
}


.even-row-desctop {
  background-color: #f4f4f4;
}




/*page-card-series slider*/


.page-card-series-wrap {
  overflow: hidden;
}
.page-card-series {
  margin: 20px 0;
  margin-right: -18px;
}
.page-card-series .slider-company-arrows {
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: $bg-color;
  color: rgba(255, 255, 255, .7);
  cursor: pointer;
  outline: none;
  transform: translate(0, -50%);
}
.page-card-series .slider-company-arrows::before {
  padding: 12px;
}
.page-card-series .slider-company-arrows:hover {
  background-color: transparent;
  color: rgba(76, 76, 76, 0.302);
}
.page-card-series .slider-company_arrow-left {
  left: 39px;
  z-index: 1;
}
.page-card-series .slider-company_arrow-right {
  right: 39px;
  z-index: 1;
}
.page-card-series-item {
  padding: 30px 50px;
  background-color:$white;
  max-height: 388px;
}
.page-card-series-item-wrap{
  padding-right: 20px;
}
.page-card-series-item-wrap.slick-active::last-child {
  padding-right: 0;
}
.page-card-series-item-name {
  padding-top: 20px;
  color: $gray-name;
}
.page-card-series-item-img {
  width: 165px;
  max-height: 183px;
}
.page-card-series-item-img img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.page-card-series-item-price {
  float: left;
}
.page-card-series-item-ico {
  float: right;
  padding: 0 3px;
}
.page-card-series-item-ico .fa-heart {
  width: 26px;
  height: 23px;
}
.fa-heart--grey path {
  fill: $gray-date;
}

.page-card-series-item-ico .fa-signal {
  width: 26px;
  height: 21px;
}
.fa-signal--grey path {
  fill: $gray-date;
}
.page-card-series-item-price-wrap {
  margin-top: 5px;
  margin-bottom: 16px;
}
.page-card-series-item-price {
  font-size: 22px;
}

/**/
.page-card-watch {
  margin: 20px 0;
}
.page-card-watch-item-wrap {
  width: 25%;
  float: left;
  padding-right: 20px;
}
.page-card-watch-item-wrap:nth-child(4n) {
  padding-right: 0;
}
.page-card-watch-item {
  padding: 30px 50px;
  background-color: $white;
  max-height: 388px;
  border-radius: 3px;
  // border-width: 1px;
  // border-color: rgb(204, 204, 204);  border-style: solid;
  box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
}

.page-card-series-item:hover img,
.page-card-watch-item:hover img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}
.page-card-series-item:hover .fa-heart--red path,
.page-card-watch-item:hover .fa-heart--red path {
  fill: $red;
}
.page-card-series-item:hover .fa-signal--lilac path,
.page-card-watch-item:hover .fa-signal--lilac path {
  fill: $lilac;
}


.stars {
  color: $red;
}
.page-card-controls-tobasket span {
  display: inline-block;
  vertical-align: middle;
}

.page-card-main-videoslider-item {
  border: 1px solid $bg-color;
  // margin: 0 10px;
}
.card-prod-har {
  // border-spacing
  border-radius: 3px;
  box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
}
table{ 
  overflow: hidden;
}

