.page-cart-item {
  position: relative;
  padding: 24px 19px 24px 40px;
  border-radius: 3px;
  background-color: $white;
  -webkit-box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
  box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
}
.page-cart-back-shopping {
  position: relative;
  margin-top: 18px;;
  padding: 12px 32px 12px 50px; 
  color: $gray;
  background-color: $white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
  box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
}
.page-cart-back-shopping::before {
  position: absolute;
  left: 32px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: '◀︎';
  font-size: 12px;
  color: $gray;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
}
.page-cart-info {
  margin-top: 20px;;
}
.page-cart-item-wrap {
  width: 100%;
}
.page-cart-img {
  float: left;
  margin-right: 4%;
  width: 22%;

}
.page-cart-descr {
  float: left;
  width: 49%; 
  position: relative;
}
.page-cart-item-name {
  padding-top: 5px;
}
.page-cart-discount {
  top: auto; 
  left: auto; 
  transform: none;
  display: inline-block;
  padding: 5px 19px;
  margin-top: 10px;
}
.page-cart-item-price {
  float: right;
  width: 44%;
  padding: 0;
}
.page-cart-item-price-line>div {
  display: inline-block;
}
.qtyminus, .qtyplus {
  background-color: #b3b3b3;
  border: none;
  padding: 4px 12px;
  color: $white;
  font-size: 20px;
  border-radius: 3px;
  line-height: 1;
}
.qty {
  border: 1px solid $bg-color;
  text-align: center;
  padding: 2px;
  border-radius: 3px;
 
}
.page-cart-cross {
  position: absolute;
  /* float: right; */
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 21px;
  border-left: 1px solid $bg-color;
}
.page-cart-cross svg {
  width: 21px;
  height: 21px;
}
.page-cart-cross path {
  fill: #b3b3b3;
}

.page-cart-descr-wrap {
  float: left;
  width: 65%;
}
.page-cart-descr-wrap--line {
  padding: 7px 38px;
  font-size: 12px;
  font-weight: 500;
  background-color: $red;
  color: $white;
  margin-top: 11px;
  border-radius: 3px;
}
.page-cart-txt {
  font-size: 12px;
}
.page-cart-figure-old {
  font-size: 18px;
  font-weight: bold;
}
.page-cart-price-figure {
  font-size: 24px;
}
.page-cart-item-price-line {
  margin-bottom: 5px;
}
.page-cart-item-price-line-counter {
  margin-top: 13px;
}
/*restore*/
.page-cart-item-restore {
  color: #202020;
}
.page-cart-item-restore-on button {
  padding: 0;
  color: $color-footer;
  border-bottom: 1px dashed $color-footer;
}
/*rigth*/
.page-cart-controls {
  width: 22%;
  margin-right: 16px;
}
.page-cart-controls-price {
  margin-bottom: 18px;
  box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
  border-radius: 3px;
  background-color: $white;
}
.page-carе-controls-title {
  font-size: 18px;
  color: #fffefe;
  padding: 2px 28px;
  text-transform: uppercase;
  background-color: $gray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.page-cart-controls-price-line {
  padding: 6px 28px;
  border-bottom: 1px solid $bg-color;
}
.page-cart-controls-price-line:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.page-cart-discount-prosent {
  float: right;
  color: $red;
}
.page-cart-controls-price-line svg.page-cart-delivery-info  {
  float: right;
  width: 20px;
  height: 20px;
}
.page-cart-delivery-info path {
  fill: #ccc;
}