.page-catalog {
  padding-top: 20px;
  background-color: $bg-color;
}
.catalog-filter {
  margin-bottom: 20px;
  background-color: $white;
  color: #666;
}
.filter-structure-left {
  float: left;
  width: 25%;
}
.filter-structure__title {
  padding: 17px 40px 8px;
  color: #666;
}
.catalog-brands-wrap {
  height: 279px;
  overflow: auto;
  padding: 29px 0 37px 40px;
  font-size: 12px;
}
.catalog-brands-wrap::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $bg-color;
}

.catalog-brands-wrap::-webkit-scrollbar {
  width: 5px;
  background-color: $bg-color;
}

.catalog-brands-wrap::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $lilac;
}
.catalog-items {
  display: inline-block;
}
/*checkbox*/
.checkbox__item {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 8px;
}
.checkbox__item input[type="checkbox"],.checkbox__item input[type="radio"] {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.checkbox__item label {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-left: 27px;
  color: #666666;
}
.checkbox__item label:before,
.checkbox__item label:after {
  content: '';
  display: block;
  position: absolute;
}
.checkbox__item label:before {
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: transparent;
  border: 1px solid black;
  border-radius: 1px;
}
.checkbox__item label:after {
  width: 9px;
  height: 5px;
  top: 5px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkbox__item label:hover::after {
  opacity: 0.3;
}
.checkbox__item input[type="checkbox"],
.checkbox__item input[type="radio"] {
  visibility: hidden;
}
.checkbox__item input[type="checkbox"]:checked + label:after,
.checkbox__item input[type="radio"]:checked + label:after {
  opacity: 1;
}
.checkbox__item input[type="checkbox"]:checked + label:before,
.checkbox__item input[type="radio"]:checked + label:before {
  background-color: #000000;
}





.filter-structure-main {
  float: right;
  width: 75%;
}
.filter-structure-main .catalog-items {
  margin-bottom: 2px;
}
.filter-structure-range {
  float: left;
  width: 29%;
  margin-right: 4%;
}
/*range*/
.filter-range {
  width: 50%;
  margin-left: 200px;
  text-transform: uppercase;
  color: #fff;
}
.filter-structure-count {
  padding: 25px 40px 0 40px; 
  font-size: 12px;
}
.rang {
  position: relative;
  background: transparent;
  border: 2px solid #fff;
  height: 42px;
  line-height: 42px;
}
.rang input[type="text"] {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  width: 91px;
  border: 1px solid $lilac-color;
  border-radius: 5px;
  padding: 5px;
  line-height: 12px;
  font-size: 12px;
}
.rang input[type="text"]:first-child {
  margin-right: 28px;
}
.rang::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 49%;
  width: 10px;
  height: 2px;
  background:  $lilac-color;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*.rang */

.rang .ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}
.rang .ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

.rang .ui-slider {
  position: relative;
  text-align: left;
}
.rang .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.rang .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.rang .ui-corner-all {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.rang .ui-widget-header {
  // border: 1px solid #aaaaaa;
  background: $lilac-color;
  color: #222222;
  font-weight: bold;
}
.rang .ui-state-default, 
.rang .ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
}
.rang .ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}
.rang .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}

/**/
.rang .ui-widget.ui-widget-content {
  height: 10px;
  margin-top: 20px;
  border: none;
  background-color: $bg-color;
}
.rang .ui-state-default, 
.rang .ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
.ui-button.ui-state-disabled:hover, 
.ui-button.ui-state-disabled:active {
  border-radius: 50%;
  background-color: white;
  // -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 1, 1, 0.14);
  // box-shadow: 0px 2px 0px 0px rgba(0, 1, 1, 0.14);
  // width: 21px;
  // height: 21px;
  -webkit-transform: translate(0%, -25%);
  -ms-transform: translate(0%, -25%);
  transform: translate(0%, -25%);
  width: 16px;
  height: 15px;
  top: 1px;
}

.btn-box {
  text-align: center;
}
.btn-transparent {
  background-color: transparent;
  margin-top: 55px;
  border: 2px solid #fff;
  width: auto;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: normal;
}




.filter-structure-val {
  float: left;
  width: 67%;
  padding-top: 12px;
}
.filter-structure-val .catalog-items {
  padding-left: 40px;
  width: 49%;
}


.filter-structure-select {
  padding: 0;
  font-size: 13px;
} 
.filter-structure-select .catalog-items {
  display: block;
  float: left;
  width: 33%;
}
.filter-structure-select .catalog-items:last-child {
  border-right: none;
  width: 34%;
}
.filter-structure-select .checkbox__item {
  padding: 7px 40px;
  margin: 0;
  border: 1px solid $bg-color;
}
.filter-structure-select .checkbox__item label:before {
  left: 40px;
  top: 10px;
}
.filter-structure-select .checkbox__item label:after {
  left: 44px;
  top: 14px;
}
.select__item {
  padding: 10px 40px;
  position: relative;
  border: 1px solid $bg-color;
}
.select__item select {
  font-size: 13px;
  color: #666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 1;
  position: relative;
  background: transparent;
  padding: 0;
  padding-left: 26px;
  padding-right: 26px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: radio-container;
  appearance: none;
}


.select__item::before {
  content: '';
  display: block;
  position: absolute;
  left: 40px;
  top: 10px;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: #000000;
  border: 1px solid black;
  border-radius: 1px;
}
.select__item:after {
  content: '';
  width: 0;
  position: absolute;
  left: 46px;
  top: 50%;
  transform: translate(0, -50%) ;
  border-width: 6px;
  border-style: solid;
  pointer-events: none;
  border-color: transparent transparent transparent $white ;
  margin-top: 0;
}
/*filter-structure-row*/
.filter-structure-left-row {
  padding: 12px 40px;
}
.filter-structure-main-row {
  padding: 12px 40px;
  text-align: center;
  position: relative;
}
.filter-structure-main-row span {
  color: $lilac;
  border-bottom: 1px dashed $lilac;
  cursor: pointer;
  font-size: 13px;
}
.filter-structure-row-all {
  background-color: $bg-color;
}
.filter-structure-main-row .filter-structure-main-row-all {
  color: #333;
  border: none;

}
.btn-catalog {
  position: absolute;
  background-color: $red;
  padding: 2px 43px;
  right: 43px;
  top: 8px;
  width: auto;
  color: $white;
  text-transform: uppercase;
}
/*page-catalog-sort*/
.page-catalog-sort {
  padding: 22px 40px;
  background-color: $white;
  font-size: 12px;
  color: $gray;
}
.page-catalog-sort-left {
  float: left;
}
.page-catalog-sort-title {
  display: inline-block;
  text-transform: uppercase;
}
.sort__item {
  display: inline-block;
  position: relative;
}

div.sort__item {
  margin-left: 23px;
}
.sort__item select {
  padding: 5px 25px 5px 16px;
  -webkit-appearance: none;
  -moz-appearance: radio-container;
  appearance: none;
  border-radius: 3px;
}



.page-catalog-sort-right {
  float: right;
}
.sort__item li {
  display: inline-block;
  color: $red;
  cursor: pointer;
  margin-left: 10px;
  line-height: 2;
}
.sort__item-fa {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 47%;
  transform: translate(0, -50%);
}
.page-card-watch-item-wrap-catalog {
  padding-bottom: 20px;
}
.page-card-watch-catalog {
  margin-bottom: 0;
}
/**/
.page-catalog-title {
  padding: 6px 40px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  background-color: $red;
  text-align: center;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);

}
.pagination {
  float: none;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}
.pagination__list {
  display: inline-block;
  vertical-align: middle;
}
// .pagination-arrow_prev {
//   -webkit-transform: rotate(180deg);
//   -ms-transform: rotate(180deg);
//   transform: rotate(180deg);
// }
.pagination-arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: $red;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.pagination-arrow:hover {
  opacity: 0.7;
}
svg:not(:root) {
  overflow: hidden;
}
.pagination-arrow .fas {
  width: 20px;
  height: 20px;
  fill: #fff;
}
// svg {
//   -o-transition: 200ms;
//   transition: 200ms;
//   -o-transition-timing-function: ease-in-out;
//   transition-timing-function: ease-in-out;
//   -webkit-transition: 200ms;
//   -webkit-transition-timing-function: ease-in-out;
// }

.pagination__item {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  width: 30px;
}
.pagination__item_active .pagination__link {
  color: $red;
}
.pagination__link {
  font-size: 20px;
  color: $gray;
  display: block;
  text-align: center;
}