.footer-sticky-menu {
	background: $gray;
	padding: 7px 0;
}
.sticky-menu-phone,
.sticky-menu-box-btn {
	display: inline-block;
	vertical-align: middle;
}

.sticky-menu-box-btn button {
	padding: 7px 25px;
	background: $white;
	border-radius: 3px;
	min-width: 193px;
}
.sticky-menu {
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	width: 75%;
	float: right;
	padding-left: 25px;
}
.sticky-menu-phone {
	padding: 5px 0;
}
.sticky-menu-box-btn svg {
  margin-left: 10px;
}
.sticky-menu-box-btn {
	color: $gray;
	font-size: 16px;
}
// footer
.footer {
	position: relative;
	background: $color-footer;
	padding: 40px 0;
}
.footer-logo  {
	margin-bottom: 18px;
}
// .footer-logo img {
// 	width: 100%;
// }
.footer-menu-phone {
	margin-bottom: 18px;
}
.footer-box-menu-phone__link {
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
}
.footer-social__item {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	background: $white;
	border-radius: 3px;
	margin-left: 7px;
	width: 30px;
	height: 30px;
}
.footer-social__item:hover {
	background: $black;
}
.footer-social__link {
	font-size: 18px;
	color: $lilac-color;
	transition: .8s;
	display: block;
	text-align: center;
	padding: 3px 5px;
}
// .footer-item {
// 	margin-left: 20px;
// }
// .footer-item:first-child {
// 	margin-left: 0;
// }

.footer__item {
	margin-bottom: 3px;
}
.footer__item_title {
	margin-bottom: 20px;
}
.footer-link__title {
	text-transform: uppercase;
}
.footer-link {
	font-size: 14px;
	color: $white;
}
// footer-bottom-box
.footer-bottom-box {
	background: $gray;
	padding: 20px 0;
}
.box-menu-phone__link.footer-box-menu-phone__link span {
	margin-left: 10px;
}
.box-konf {
	float: left;
	width: 60%;
}
.box-konf p {
	font-size: 12px;
	color: $white;
}
.order__list {
	float: right;
    text-align: right;
}
.order__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    margin-left: 10px;
}
.order__link {
    position: relative;
    transition: all 0.25s ease-in-out;
    background-image: url("../img/icons/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}
.sprite-Qiwi {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-Sber {
    width: 26px;
    height: 25px;
    background-position: -5px -45px;
}

.sprite-VISA {
    width: 51px;
    height: 18px;
    background-position: -5px -80px;
}

.sprite-Yandex {
    width: 24px;
    height: 26px;
    background-position: -5px -108px;
}

.sprite-alfa {
    width: 20px;
    height: 29px;
    background-position: -5px -144px;
}

.sprite-mastercard {
    width: 36px;
    height: 23px;
    background-position: -5px -183px;
}
.box-menu-phone__ico-trs {
	transform: rotate(100deg);
}
.footer-list-wrapp {
	width: 75%;
	float: right;
	// display: flex;
	// justify-content: space-between;
	padding-left: 25px;
}
.footer-list-wrapp {
    position: relative;
    z-index: 1;
  }
