.page-how-choose {
  padding-top: 20px;
  background-color: $bg-color;
}
.page-how-choose-main {
  width: 76%;
  float: left;
}
.page-how-choose-item {
  margin-bottom: 16px;
}
.page-how-choose-item a {
  display: block;
  padding: 35px;
  color: $gray;
}
.item-shadow {
  box-shadow: 0px 1px 2.97px 0.03px rgba(40, 40, 40, 0.35);
  border-radius: 3px;
}





.page-how-choose-views {
  display: inline-block;
  float: right;
  padding-top: 0;
}
.how-choose-sidebar-items {
  padding-bottom: 50px;
}