.page-order-finish-info {
  background-color: $white;
  padding: 40px 40px 47px;
  text-align: center;
}
.page-order-finish-info p {
  padding: 15px;
}
.page-order-finish-info p:last-child {
  padding: 30px 15px 0;
}
.page-order-finish-info .fa-check-circle {
  font-size: 60px;
}
.page-order-finish-info path {
  fill: $gray-name;
}