.page-order-main {
  width: 76%;
}
.page-order-accordeon-title {
  background-color: $gray;
  color: $white;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px 40px;
  margin-top: 20px;
  text-decoration: none;
}
.page-order-accordeon-title::after {
  content: none;
}
.page-order-accordeon-title.is-opened:after {
  content: none;
}
.page-order-accordeon-title span {
  display: inline-block;
  vertical-align: middle;
}
.page-order-accordeon-title:first-child {
  margin-top: 0;
}
.page-order-accordeon-title-number {
  font-size: 36px;
  font-weight: 500;
  padding-right: 16px;
}
/*1 form*/
.page-order-accordeon-content form {
  max-width: 461px;
}
.page-order-form-content {
  margin-bottom: 18px;
  display: inline-block;
}
.page-order-form-content label {
  position: relative;
  font-weight: normal;
  min-width: 157px;
}
.page-order-form-content input {
  border-radius: 3px;
  border: 1px solid $lilac-color;
  width: 300px;
  padding: 5px;
}
.page-order-tel-kod {
  position: absolute;
  right: 0;
}
.required-field {
  color: $red;
}
.confident {
  color: $red;
  border-bottom: 1px solid $red;
}
.page-order-btn {
  background-color: $red;
  color: $white;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  margin-top: 28px;
  cursor: pointer;
}
.page-order-accordeon-content {
  padding: 29px 40px 30px 39px;
}
/*acc2*/
.page-order-delivery {
  position: relative;
  border: 1px solid #b3b3b3;
}
.page-order-delivery label {
  display: inline-block;
  vertical-align: top;
  display: block;
  width: 100%;
  padding: 16px 60px;
}
.page-order-delivery:first-child {
  margin-bottom: 26px;
}
.page-order-delivery input[type="radio"],
.page-order-delivery label::before {
  position: absolute;
  top: 50%; 
  -webkit-border-radius:0;
  -webkit-appearance:none;
  outline:none;
}
.page-order-delivery label::before {
    cursor: pointer;
  height: 20px;
  width: 20px;
  left: 20px;
  top: 15px;
  border: 2px solid $lilac-color;
  border-radius: 4px;
  color: $lilac-color;
  content: '';
  font-size: 1.5em;
  padding: .1em 0 0 .2em;
}
.page-order-delivery input[type="radio"] + label::before {
  border-radius: 50%;
}
.page-order-delivery input.error + label::before {
  border-color:#f93337;
}
.page-order-delivery input[type="radio"]:checked + label::after {
  content:'';
  position: absolute;
  width: 9px;
  height: 5px;
  top: 22px;
  left: 26px;
  border: 3px solid $lilac-color;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.page-order-delivery-content {
  display: inline-block;
}
.page-order-delivery-content label {
  min-width: auto;
}
.page-order-form-content input {
  width: auto;
}
/*page-order-delivery-more*/
.page-order-delivery-more {
  padding: 30px 20px;
  border: 1px solid #b3b3b3;
  border-top: none;
  font-size: 12px;
}
.page-order-delivery-left {
  float: left;
  width: 61%;
}
.page-order-delivery-right {
  float: right;
  width: 39%
}
#page-order-street {
  width: 355px;
}
.page-order-delivery-more label {
  min-width: 49px;
  padding-right: 13px;
  margin-bottom: 0;
}
#page-order-home,
#page-order-flat {
  width: 77px;
}
#page-order-date,
#page-order-time {
  width: 150px;
}
.page-order-delivery-more:nth-child(2n) {
  padding-top: 13px;
  padding-bottom: 13px;
}
.page-order-delivery-more-lift {
  position: relative;
  display: inline-block;
}
.page-order-delivery-more-lift input[type="radio"],
.page-order-delivery-more-lift label::before {
  position: absolute;
  top: 50%;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}
.page-order-delivery-more-lift label {
  padding: 0 30px;
}
.page-order-delivery-more-lift input[type="radio"] + label::before {
  border-radius: 50%;
}
.page-order-delivery-more-lift label::before {
  cursor: pointer;
  height: 20px;
  width: 20px;
  left: 6px;
  top: -2px;
  border: 2px solid #9aafd1;
  border-radius: 4px;
  color: #9aafd1;
  content: '';
  font-size: 1.5em;
  padding: .1em 0 0 .2em;
}
.page-order-delivery-more-lift input[type="radio"]:checked + label::after {
  content: '\25CF';
  position: absolute;
  width: 8px;
  height: 3px;
  top: 0;
  left: 3px;
  font-size: 17px;
  color: #9aafd1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}