.confident-mark-list--link {
  padding-top: 30px;
  padding-bottom: 120px;  
  color: $red;
}
.confident-mark-list--link li {
  padding-bottom: 15px;
}
.confident-mark-list--link a {
  color: $red;
  text-decoration: underline;
}
