.page-registr-self {
  margin-bottom: 85px;
}
.page-order-form  .iamur {
  text-align: left;
}
.page-registr-btn {
  padding-left: 40px;
  padding-right: 40px;
}
.page-registr-required-field {
  padding: 12px 0 7px;
  text-align: right;
}