.page-remember-pass-or {
  font-weight: 500;
  color: $lilac;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
}
.page-remember-pass-self {
  margin-bottom: 468px;
}
.page-remember-pass-right {
  padding-left: 17px;
}
.page-remember-pass-right p {
  margin-bottom: 20px;
}