.sertific-item {
  width: 100%;
  padding-bottom: 20px;
}  
.sertific-img {
  display: inline-block;
}
.sertific-img img {
  width: 100%;
}
.sertific-item-title {
  text-align: center;
}
