.page-video-item {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.page-video-item:first-child {
  padding-top: 0;
}
.page-video-vid {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%) ;
  width: 25%;
  margin-right: 3%;

}
.page-video-vid iframe {
  width: 100%;
}
.page-video-right {
  padding-left: 33%;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.page-video-item-title {
  color: $lilac;
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 0 15px;
}
.page-video-text {
  color: #999;
  font-size: 14px;
}
.page-video-views {
  margin-top: 12px;
}
.page-video-views .fa-eye {
  font-size: 17px;
}
.page-video-views span {
  color: #999;
  font-size: 12px;
  vertical-align: middle;
}
.pagination-video {
  padding-bottom: 0;
}